.u-section-1 .u-sheet-1 {
  min-height: 80px;
}.u-section-2 {
  background-image: linear-gradient(#eafdfc, #fef9e6);
}

.u-section-2 .u-sheet-1 {
  min-height: 910px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  font-family: Aclonica;
  width: 515px;
  margin: 47px auto 0;
}

.u-section-2 .u-group-1 {
  width: 584px;
  min-height: 600px;
  margin: 47px auto 60px;
}

.u-section-2 .u-container-layout-1 {
  padding: 20px 7px 9px;
}

.u-section-2 .u-form-1 {
  height: 318px;
  width: 508px;
  margin: 67px auto 0;
}

.u-section-2 .u-form-group-2 {
  margin-left: 0;
}

.u-section-2 .u-form-group-4 {
  margin-left: 0;
}

.u-section-2 .u-form-group-5 {
  margin-left: 0;
}

.u-section-2 .u-form-group-6 {
  margin-left: 0;
}

.u-section-2 .u-form-group-7 {
  margin-left: 0;
}

.u-section-2 .u-btn-2 {
  border-style: none none solid;
  margin: 8px auto 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-form-1 {
    width: 524px;
    margin-top: 42px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: 73px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    width: 540px;
  }

  .u-section-2 .u-form-1 {
    width: 520px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    width: 340px;
  }

  .u-section-2 .u-group-1 {
    width: 340px;
  }

  .u-section-2 .u-form-1 {
    width: 320px;
    margin-top: 28px;
  }
}